
.titulo{
    text-align: center;
   
   }
   .subtitulo{
     text-align: center;
   
   
   }
   .lista{
     text-align: center;
     margin-top:auto
   
   }
   
   .sesion{
     text-align: center;
   
   }