<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="center">SkeletonAPP</ion-title>
    </ion-toolbar>
  </ion-header>


  
  <ion-card>
    <ion-card-header>
      <ion-card-title class="titulo">SkeletonAPP</ion-card-title>
      <ion-card-subtitle class="subtitulo">Aqui comienza todo</ion-card-subtitle>
    </ion-card-header>
  
  </ion-card>
  


  
    <ion-list class="lista">
  
      <ion-item>
        <ion-input class="email" label="" type="email" placeholder="Usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input class="contraseña" label="" type="password" placeholder="contraseña" value=""></ion-input>
      </ion-item>
  
    </ion-list>
    
    <ion-button class="sesion" shape="round">Iniciar sesiòn</ion-button>

</ion-content>
